---
import {
  FacebookIcon,
  InstagramIcon,
  TwitterIcon,
  YoutubeIcon,
} from "lucide-react";
import { Separator } from "@/components/ui/separator";
import type { Language, Translations } from "@/i18n/utils";
import AppLogo from "../logo/widget.astro";

interface Props {
  lang: Language;
  t: Translations;
}

const { lang, t } = Astro.props;
---

<footer class="w-full text-foreground z-50 py-12 bg-[#1A1A1A] space-y-6">
  <div
    class="container mx-auto flex items-center justify-between gap-3 px-6 max-md:flex-col"
  >
    <AppLogo lang={lang} />

    <div class="flex items-center gap-8 whitespace-nowrap">
      <a
        href={`/${lang}/#destinations`}
        class="text-white/60 hover:text-white text-xs font-semibold tracking-widest transition-colors uppercase"
        >Destinations</a
      >
      <a
        href={`/${lang}/blog`}
        class="text-white/60 hover:text-white text-xs font-semibold tracking-widest transition-colors uppercase"
        >Blog</a
      >
      <a
        href={`/${lang}/#about-us`}
        class="text-white/60 hover:text-white text-xs font-semibold tracking-widest transition-colors uppercase"
        >About Us</a
      >
      <a
        href={`/${lang}/#contact-us`}
        class="text-white/60 hover:text-white text-xs font-semibold tracking-widest transition-colors uppercase"
        >Contact Us</a
      >
    </div>

    <div class="flex items-center gap-4 text-white/40">
      <a
        href="#"
        class="hover:text-white transition-colors hover:scale-110 duration-200"
      >
        <FacebookIcon size={20} />
      </a>
      <a
        href="#"
        class="hover:text-white transition-colors hover:scale-110 duration-200"
      >
        <InstagramIcon size={20} />
      </a>
      <a
        href="#"
        class="hover:text-white transition-colors hover:scale-110 duration-200"
      >
        <TwitterIcon size={20} />
      </a>
      <a
        href="#"
        class="hover:text-white transition-colors hover:scale-110 duration-200"
      >
        <YoutubeIcon size={20} />
      </a>
    </div>
  </div>

  <Separator className="bg-white/10" />

  <div
    class="mx-auto flex w-full flex-col items-center justify-center gap-4 px-4 py-8 sm:px-6 sm:flex-row sm:justify-between"
  >
    <p class="text-center font-medium text-balance text-sm text-white/40">
      {`©${new Date().getFullYear()}`}
      <a href={`/${lang}/`} class="hover:underline">BTLE</a>. {
        t.footer.copyright
      }
    </p>

    <div
      class="flex items-center gap-4 text-sm font-medium text-muted-foreground"
    >
      <a
        href="/SkySearch_AI_Privacy_Policy.pdf"
        class="hover:underline hover:text-foreground transition-colors"
        target="_blank"
      >
        {t.footer.privacyPolicy}
      </a>
      <a
        href="/SkySearch_AI_Terms_of_Service.pdf"
        target="_blank"
        class="hover:underline hover:text-foreground transition-colors"
      >
        {t.footer.termsOfService}
      </a>
    </div>
  </div>
</footer>
