---
import "@/styles/global.css";
import { NODE_ENV } from "astro:env/client";
import SpeedInsights from "@vercel/speed-insights/astro";
import { AstroFont } from "astro-font";
import Posthog from "@/components/posthog.astro";
import AuroraBackground from "@/components/ui/aurora-background.astro";
import { getTranslations, type Language, languages } from "@/i18n/utils";
import Footer from "@/widgets/footer/widget.astro";
import AppNav from "@/widgets/navbar/widget.astro";
import TermsOfServiceWidget from "@/widgets/terms-of-service/widget.astro";

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params as { lang: Language };
const t = await getTranslations(lang);
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Terms of Service - BTLE</title>
    <AstroFont
      config={[
        {
          src: [],
          name: "Geist",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    {NODE_ENV === "production" && <Posthog />}
    {NODE_ENV === "production" && <SpeedInsights />}
  </head>

  <body>
    <AuroraBackground>
      <AppNav lang={lang} t={t} />
      <TermsOfServiceWidget />
      <Footer lang={lang} t={t} />
    </AuroraBackground>
  </body>
</html>
